<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      div
      {
        padding: 10px;
      }
    </style>
    <script>
         function submit() {
             document.getElementById("form").submit();
         }
      </script>

    <title>PIANO TRANSCRIPTION APP DEMO </title>
  </head>

  <body>
    <div class="card">
      <h1>PIANO TRANSCRIPTION APP DEMO </h1>
    </div>
    <form id="form" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" style="padding-right: 10px;">Please select a model: </span>
          <select id="model" name="model">
            <option value="model-500000.pt">model-500000</option>
            <option value="model-65000.pt">model-65000</option>
          </select>
        </div>
        <div class="image-box center">
          <label for="file-upload" class="center custom-button">
            <i class="fa fa-upload"></i> Select File to Transcribe:
            <input type="file" id="file-upload" name="file" />
          </label>
        </div>
        
        
        <div> 
          <button type="submit" class="btn btn-primary"  onchange=submit()>
          <span class="spinner-border spinner-border-sm"></span>
          Transcribe
          <!-- </button>
          {% if display_text %}
          <div>
            {{display_text}}
          </div>
          {% endif %} -->
        </div>
        <form id="download" method="POST" enctype="multipart/form-data">
          <div>
            {% if download %}
            <button type="submit" class="btn btn-primary"  >Download</button>
            <button type="submit" class="btn btn-primary" >Play</button>
            {% endif %}
          </div>
        </form>
      </div>
    </form>
    <!-- <h1>Hello, world!</h1> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>
